body{
    background-color: rgb(0, 0, 29);
    display: flex;
    justify-content: center;
    
}
.pro{
    border: 1px solid black;
    width: 60px;
    height: 20px;
    background-color: rgb(255, 208, 0);
    color: black;
    border-radius: 20px;
    text-align: center;
    position: relative;
    right:100px;
   
    
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(0, 0, 29);
    width: 400px;
    height: 550px;
    margin-top: 50px;
    color: white;
    

    
}
.image{
    border: 2px solid aquamarine;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    
    background-image: url("https://source.unsplash.com/150x150/?user");



}
.buttons>button{
    border: 1px solid aquamarine;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: aquamarine;

}
.buttons>button:hover{
    background-color: aqua;
}
.skills-card>footer{
    background-color: red;
    position: 10px;
    
}
.skills-card>span{
    border: 1px solid white;
}
footer {
    background-color: rgb(0, 0, 22);
    width: 390px;
    height: 100px; 
    margin-top: auto;
    padding: 5px;
}